<header class="jumbotron">
    <div class="container">
    <h1>Node JS Template Project</h1>
    <p>Powered by PLCnext Technology from Phoenix Contact</p>
    <p>
        <a
            class="btn btn-primary btn-lg"
            href="#"
            target="_blank"
        >
            Your Website
        </a>
    </p>
    </div>
</header>